@charset "UTF-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: #ffffe0;
  margin: 48px 0 0 0;
}

header{
  background-color: #ff6347;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

#main{
  background-color: #e6e6fa;
  width: calc(100% - 200px);
  min-width: 500px;
  float: left;
}

 .box{
   background-color: #f0e68c;
   color: #191970;
   width: 240px;
   height: 80px;
   margin: 5px;
   float: left;
   overflow: hidden;
 }

aside{
  background-color: #4682b4;
  width: 200px;
  float: right;
  position: relative;
  top: 20px;
  right: 10px;
}
footer{
  background-color: #dda0dd;
  clear: both;
}

#good_pocture{
  width: 24px;
  position: absolute;
  left: 50px;
  top: 50px;
}
